@import url("https://t3l.ls/data/fonts/mohave/import.css");
@import url("https://t3l.ls/data/fonts/roboto/import.css");

*{
    font-family: "Mohave", "Roboto", Arial, Helvetica, sans-serif;
    color: white;
    overscroll-behavior: none;
}

html:before, body:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 999px;
    top: -999px;
    background-color: tomato;
  }

body{
    margin: 0;
    padding: 0;
}

img[alt="Info icon"]{
    display: none;
}

button{
    &:hover{
        cursor: pointer;
    }
}

@media only screen and (max-width: 570px) {
    *, body, html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 430px) {
    *, body, html {
        font-size: 10px;
    }
}